/* Basic Style */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 80%;
    background-color: rgb(5, 148, 5);
    min-height: 8vh;
}

.logo {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 21%;
    font-size: 18px;
    font-style: oblique;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    

}
.nav-links {
    float: right;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 20px;
}

ul > li {
    list-style: none;

}

.nav-links > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

.nav-links > li > a:hover {
    background-color: rgb(160, 221, 160);
}

/* Form Style */
.form {
    width: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    padding: 3px;
    box-shadow: 5px 10px 10px 20px rgba(0,0,0,0.4);
}

.form > h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form p {
    font-weight: bold;
}

.student-info {
    margin-top: 30px;
}

.student-info h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}
.info {
    width: 80%; 

}

input {
    text-align: center;
}

label {
    font-weight: bold;
}

.btn button {
    width: 70px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.children video {
    width: 100%;
    height: 600px;
}
 
/* Contact Style */
.contact {
    width: 500px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
    background-color: seagreen;
    margin-top: 30px;
}

.contact input {
    padding: 10px;
}

.get {
    width: 80%;

}

.btn2 button {
    width: 70px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 15PX;
}

.staff {
    width: 50%;
    height: 20%px;
    text-align: center;
}

h2 {
    width: 50%;
    padding: 5px;
    text-transform: uppercase;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(5, 148, 5);
    margin-bottom: 30px;
    font-size: larger;
    line-height: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.campus {
    float: right;
}

.teacher {
    float: left;
    margin-bottom: 60px;
}
 .container2 h1 {
     text-align: center;

 }